// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
//.ml--3 {
//  margin-left: 3rem;
//}

@for $i from 0 through 10 {
  .ml--#{$i} {
    margin-left: #{$i}rem;
  }
  .mr--#{$i} {
    margin-left: #{$i}rem;
  }
}
