<template>
  <v-app class="app">
    <v-app-bar app color="#6A76AB">
      <v-toolbar-title>
        <nuxt-link to="/" class="menu__link menu__link--white">Nuxt SSR</nuxt-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn color="#fff">
        <nuxt-link to="/carts" class="menu__link">Cart</nuxt-link>
      </v-btn>
      <v-btn color="#fff" class="ml--2">
        <nuxt-link to="/new_product" class="menu__link">New product</nuxt-link>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt/>
      </v-container>
    </v-main>
  </v-app>
</template>
<style lang="scss" scoped>
.app {
  background: white;
}
.menu__link {
  text-decoration: none;

  &--white {
    color: #fff;
  }
}
</style>
