<template>
  <div>
    <div v-if="isLoading">
      <span>Загрузка...</span>
    </div>
    <v-row no-gutters v-else>
      <v-col
        v-for="product in products"
        :key="product.id"
        cols="12"
        sm="12"
        md="6"
        lg="4"
      >
        <v-card class="card pa-5">
          <v-card-title>{{ product.title }}</v-card-title>
          <v-card-text class="card__item">
            <template >
              <p>{{ product.body }}</p>
            </template>
          </v-card-text>
          <v-card-actions>
            <v-btn
              outlined
              class="card__item card__btn"
              @click="showTitle(product.id)"
            >
              SHOW TITLE
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  // data() {
  //   return {
  //     products: []
  //   }
  // },
  async fetch({store}) {
    await store.dispatch("products/fetchProducts")
    // let products = []
    // await $axios.$get('https://angulartest-1f024-default-rtdb.firebaseio.com/products.json').then((response) => {
    //
    //   Object.keys(response).forEach((key) => {
    //     products.push({
    //       id: key,
    //       userId: response[key].userId,
    //       title: response[key].title,
    //       body: response[key].body
    //     })
    //   })
    // })
    // return { products }
  },
  computed: {
    products() {
      return this.$store.getters["products/products"]
    },
    isLoading() {
      return this.$store.getters["products/isLoading"]
    },
    error() {
      return this.$store.getters["products/error"]
    }
  },
  methods: {
    showTitle(id) {
      const product = this.products.find(product => product.id === id)
      alert(product.title)
    }
  }
}
</script>
<style lang="scss" scoped>
.card {
  background: #fff;
  color: #6A76AB !important;

  &__item {
    color: #000 !important;
  }

  &__btn {
    background: #dc3545;
    border-color: #dc3545;
    color: #fff !important;
  }
}
</style>
